<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name=".NativeWebBridgeFileProvider"
            android:authorities="${applicationId}.webnativebridge.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/native_web_bridge_file_paths" />
        </provider>
    </application>
</manifest>